
<section class="wrapper">
  <div class="world-list">
    <% @worlds.each do |world| %>
      <div class="world">
        <h2><%= link_to world.name, world %></h2>
      </div>
    <% end %>
  </div>
</section>
