<div class="world-list">
  <% @worlds.each do |world| %>
    <div class="world">
      <a href="<%= world_path(world) %>" style=""><h2><%= world.name %></h2></a>
    </div>
  <% end %>
  <div class="links">
    <%= link_to 'Add New', new_world_path %>
  </div>
</div>
