
<section class="wrapper">
  <div class="world-list">
    <% @worlds.each do |world| %>
      <div class="world">
        <h2><%= link_to world.name, world %></h2>
      </div>
    <% end %>
  </div>
  <div class="add-new">
    <h2><%= link_to 'Add New', new_world_path %></h2>
  </div>
</section>
