/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
   font-family: "League Spartan";
   src: url('leaguespartan-bold.ttf') format("truetype");
 }

body {
  background: #242424;
}

.title {
  margin-bottom: 40px;
  text-align: center;
}

.title img {
  width: 1s0%;
}

.title h1 {
  font-family: 'Libre Baskerville', serif;
  text-transform: uppercase;
  letter-spacing: 7.5px;
  font-size: 28px;
  color: #fff;
  margin-bottom: 7px;
}

.title p {
  font-style: italic;
  margin: 0;
}

h2 {
  font-family: "League Spartan";
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
}

p {
  font-family: 'Libre Baskerville', serif;
  font-size: 19px;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}


/*.wrapper {
}

.world-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  width: 75%;
}

.world-list h2 {
  font-size: 13px;
  letter-spacing: 4px;
  text-align: center;
  font-family: 'League Spartan', sans-serif;
  padding: 20px;
}
.world-list a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
  .world {
    background: rgba(255, 255, 255, 0.5);
    width: 275px;
    padding: 20px;
    margin: 20px;
    align-items: center;
    float: left;
    justify-content: center;
  }*/
