/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
   font-family: "League Spartan";
   src: url('leaguespartan-bold.ttf') format("truetype");
 }

html {
  position: relative;
  min-height: 100%;
}

body {
  background: #242424;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  margin-bottom: 70px;
  text-align: center;
}

  .title img {
    width: 100px;
  }
  .title h1 {
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    letter-spacing: 7.5px;
    font-size: 24px;
    color: #fff;
    margin-bottom: 7px;
  }
  .title p {
    font-style: italic;
    margin: 0;
  }

h2 {
  font-family: "League Spartan";
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
}

p {
  font-family: 'Libre Baskerville', serif;
  font-size: 16px;
  color: #fff;
}

a {
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.main-header {
  text-align: center;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin: 0 auto;
}
  .main-header h2 {
    margin: 30px 0 20px 0;
  }
    .main-header h2 a {
      color: rgba(254, 191, 18, 1);
      transition: color 0.5s ease;
    }
    .main-header h2 a:hover {
      color: rgba(255, 255, 255, 1);
    }
  .main-header a {
    color: rgba(255,255,255,0.5)
  }

  .main-header p {
    font-style: italic;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 23px;
  }

.wrapper {
  margin: 0 auto;
  width: 55%;
}

.world-list {
  width: 75%;
  margin: 0 auto;
}
  .world-list .links {
    text-align: center;
    margin-bottom: 50px;
    display: block;
  }

.world {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 28%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
  transition: background-color 0.5s ease;
  margin: 5px;
}
  .world h2 {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 10px;
    margin: 20px;
    font-size: 10px;
  }
  .world a {
    text-align: center;
  }
  .world:hover {
    background: rgba(255, 255, 255, 0.1);
  }

/* main content container */
.content {
  display: flex;
  align-items: center;
  margin: 20px auto;
}

.column-left {
  padding: 20px 0 20px 0;
  margin: 20px;
  width: 30%;
}
  .column-left img {
    width: 100%;
  }
.column-right {
  width: 70%;
  margin-left: 30px;
}
  .column-right p {
    line-height: 31px;
  }

.links {
  margin-top: 30px;
  display: inline;
}
  .links a {
    font-family: 'League Spartan', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px 30px 10px 30px;
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    letter-spacing: 3px;
    transition: background-color 0.5s ease;
  }
    .links a:hover {
      background: rgba(255, 255, 255, 0.1);
    }

.character-section {
  margin-top: 60px;
  border-top: 1px solid #fff;
}
  .character-section h4 {
    font-family: 'League Spartan', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
    .character-section a {
      transition: color 0.5s ease;
    }
    .character-section a:hover {
      color: rgba(255, 255, 255, 0.5);
    }

.character-section .new-character a {
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.5s ease;
}
  .character-section .new-character a:hover {
    color: rgba(255, 255, 255, 1);
  }

/* Form Styling: A Nightmare */

.form-content {
  margin: 40px auto;
}

.form-group {
  padding-bottom: 20px;
}

.form-submit {
  display: inline;
}

.form-submit input {
  font-family: 'League Spartan', serif;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  padding: 10px 30px 10px 30px;
  color: #fff;
  background: rgba(255, 255, 255, 0.5);
  transition: background-color 0.5s ease;
  margin-right: 10px;
}
  .form-submit input:hover {
    background: rgba(255, 255, 255, 0.1);
  }

form {
  margin: 0 auto;
}

.form-group label {
  font-family: 'League Spartan', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.form-group input {
  width: 100%;
  display: inline;
}

/* footer */

.footer-text {
  text-align: center;
  font-style: italic;
  margin-top: 100px;
  color: rgba(255,255,255,0.5)
}
  .footer-text p {
    font-size: 14px;
  }
  .footer-text a {
    transition: color 0.5s ease;
    color: rgba(255,255,255,0.5)
  }
  .footer-text a:hover {
    color: rgba(255,255,255,1)
  }
