/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
   font-family: "League Spartan";
   src: url('leaguespartan-bold.ttf') format("truetype");
 }

body {
  background: #242424;
}

.title {
  margin-bottom: 40px;
  text-align: center;
}

.title img {
  width: 1s0%;
}

.title h1 {
  font-family: 'Libre Baskerville', serif;
  text-transform: uppercase;
  letter-spacing: 7.5px;
  font-size: 28px;
  color: #fff;
  margin-bottom: 7px;
}

.title p {
  font-style: italic;
  margin: 0;
}

h2 {
  font-family: "League Spartan";
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
}

p {
  font-family: 'Libre Baskerville', serif;
  font-size: 19px;
  color: #fff;
}

a {
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.main-header {
  text-align: center;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  width: 65%;
  margin: 0 auto;
}

.wrapper {
  margin: 0 auto;
}

.world-list {
  width: 75%;
  margin: 0 auto;
}

.world {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 28%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
  margin: 5px;
}
  .world h2 {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 10px;
    margin: 20px;
    font-size: 10px;
  }
  .world a {
    text-align: center;
  }
  .world:hover {
    background: rgba(255, 255, 255, 0.1);
  }

/* main content container */
.content {
  display: flex;
  align-items: center;
  width: 65%;
  margin: 0 auto;
}

.column-left {
  padding: 20px 0 20px 0;
  margin: 20px;
  width: 30%;
}
  .column-left img {
    width: 100%;
  }
.column-right {
  width: 70%;
  margin-left: 30px;
}
  .column-right p {
    line-height: 31px;
  }

.links {
  margin-top: 40px;
}
  .links a {
    font-family: 'League Spartan', sans-serif;
    text-transform: uppercase;
    padding: 10px 30px 6px 30px;
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    letter-spacing: 4px;
  }
    .links a:hover {
      background: rgba(255, 255, 255, 0.1);
    }

.character-section {
  margin-top: 60px;
  border-top: 1px solid #fff;
}
  .character-section h4 {
    font-family: 'League Spartan', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

form {
  margin: 0 auto;
}


.form_meta_field {
  padding: 20px;
}
  .form_meta_field label {
    font-family: 'League Spartan', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    display: inline-block;
    text-align: center;
    width: 230px;
    margin-right: 20px;
  }
  .form_meta_field input {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 2px;
    padding: 10px;
    font-family: 'Libre Baskerville', serif;
  }

  .form-submit, .delete {
    width: 165px;
    padding: 10px 30px 6px 30px;
    font-family: 'League Spartan', sans-serif;
    text-transform: uppercase;
    text-align: 4px;
    color: #fff;
    background: rgba(255, 255, 255, 0.5);
    letter-spacing: 4px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
  }
